* {
  margin: 0;
  padding: 0; }

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#l-modal {
  border-radius: 32px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  height: 90vh;
  left: 5%;
  margin: auto;
  position: absolute;
  top: 5%;
  width: 90vw; }

#l-modal-signup {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }

#l-modal-dashboard {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between; }

.dashboard {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding-right: 2vw;
  width: 80%; }

.graph {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 25%; }
  .graph span {
    font-size: 2vh; }

.home {
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }

.logo-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 15%; }
  .logo-wrapper img {
    padding: 2vh 2vw;
    height: 80%; }

.robot-wrapper {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%; }
  .robot-wrapper img {
    height: 100%; }

.title-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20%; }
  .title-wrapper span {
    font-family: "Roboto";
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 0.5vw; }

.auth-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  height: 25%; }
  .auth-wrapper .login-link {
    align-items: center;
    border: none;
    border-radius: 16px;
    display: flex;
    font-family: "Roboto";
    font-size: 2vh;
    font-weight: 600;
    height: 40%;
    justify-content: center;
    outline: none;
    text-decoration: none;
    width: 30%;
    transition: 0.2s all ease; }
    .auth-wrapper .login-link:hover {
      cursor: pointer;
      font-size: 2.4vh; }

.multi-graphs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-evenly;
  width: 100%; }

.profile {
  height: 100%;
  width: 20%; }

.signup {
  border: 2px solid orange;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  height: 80%;
  padding: 4vh 2vw;
  width: 30%; }

.text-input {
  font-size: 2vh;
  padding: 1vh 0;
  width: 100%; }

.floating-label {
  left: 35.5%;
  position: absolute;
  pointer-events: none;
  top: 11%;
  transition: 0.2s ease all; }

.text-input:focus ~ .floating-label,
.text-input:not(:focus):valid ~ .floating-label {
  color: orange;
  top: 7%;
  font-size: 1.5vh;
  opacity: 1; }

.rate {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 30%;
  width: 100%; }

.rate-field {
  align-items: center;
  background: #252a2b;
  border-radius: 8px;
  display: flex;
  height: 25%;
  justify-content: center;
  margin-top: 1vh;
  position: relative;
  width: 30%; }
  .rate-field input {
    border: none;
    border-radius: 8px;
    opacity: 0.5;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    transition: 0.5s ease; }
    .rate-field input:hover {
      opacity: 1; }

.rate-value span,
.rate-header span {
  font-size: 1rem;
  font-weight: 600;
  padding: 1vh 1vw; }

.rate-value span {
  font-size: 2rem; }

.rate-value-left,
.rate-value-right {
  padding: 0 0.5vw; }

@media only screen and (max-width: 768px) {
  .signup {
    width: 80%; }

  .floating-label {
    left: 11%; } }
body {
  background-image: linear-gradient(315deg, #252a2b 0%, #1c1e1f 74%); }

#l-modal {
  background-color: #313638; }

.profile {
  border-right: 1px solid orange; }

.rate-field input {
  color: #ccc; }

.title-wrapper span,
.rate-value span,
.rate-header span,
.rate-value-left,
.rate-value-right {
  color: orange; }

.auth-wrapper .login-link {
  background-color: orange;
  color: #313638; }

.auth-wrapper .login-link:hover {
  background-color: #c98a00; }

/*# sourceMappingURL=main.css.map */
