#l-modal
    background-color: $modal
    border-radius: 32px
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75)
    height: 90vh
    left: 10%
    margin: auto
    position: absolute
    top: 5%
    width: 80vw
