body
    background-image: linear-gradient(315deg, $background-gradient-light 0%, $background-gradient-dark 74%)

#l-modal
    background-color: $modal

.profile
    border-right: 1px solid orange

.rate-field input
    color: #ccc

.rate-value span,
.rate-header span,
.rate-value-left,
.rate-value-right
    color: orange
